@import '../variables.scss';

.catalog__list {
    width: 320px;
    margin: 0;
    padding: 0;

    list-style: none;
}

@media (min-width: $tablet) {
    .catalog__list {
        width: $tablet;
    }
}

@media (min-width: $desktop) {
    .catalog__list {
        width: $desktop;
        display: flex;
        flex-wrap: wrap;
    }
}
