@import '../variables.scss';

.menu-open {
    display: block;
    animation-name: show;
    animation-duration: 0.5s;
}

.menu-close {
    display: none;
}

@keyframes show {
    0% {transform: scale(0.8);}
    100% {transform: scale(1);}
}

@media (min-width: $tablet) {
    .menu-open {
        display: none;
    }

    .menu-close {
        display: block;
    }

    .main-nav {
        border-bottom: 1px solid #ececec;
    }
}

@media (min-width: $desktop) {
    .main-nav {
        border: none;
    }
}
